<div *ngIf="isAllume"
  (click)="toggle()"
  [ngClass]="{
    allume: isAllume,
    eteinte: !isAllume
  }"
>ampoule works!
</div>
<input appRainbow type="text" class="form-control">
<button
  (click)="toggle()"
  class="btn btn-success">show / hide </button>
<div appHighlight [in]="'black'" [out]="'white'">
  Cc
</div>
<div appHighlight [in]="'red'" [out]="'white'">
  Cc
</div>
<div appHighlight [in]="'green'" [out]="'white'">
  Cc
</div>
<div appHighlight [in]="'black'" [out]="'yellow'">
  Cc
</div>
<div appHighlight>
  Cc
</div>
